<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.order.presentation.OrderModelWizardID"
            name="%_UI_OrderModelWizard_label"
            class="de.dfki.iui.basys.model.domain.order.presentation.OrderModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OrderModelFile.gif">
         <description>%_UI_OrderModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.order.presentation.OrderEditorID"
            name="%_UI_OrderEditor_label"
            icon="icons/full/obj16/OrderModelFile.gif"
            extensions="order"
            class="de.dfki.iui.basys.model.domain.order.presentation.OrderEditor"
            contributorClass="de.dfki.iui.basys.model.domain.order.presentation.OrderActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.product.presentation.ProductModelWizardID"
            name="%_UI_ProductModelWizard_label"
            class="de.dfki.iui.basys.model.domain.product.presentation.ProductModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProductModelFile.gif">
         <description>%_UI_ProductModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.product.presentation.ProductEditorID"
            name="%_UI_ProductEditor_label"
            icon="icons/full/obj16/ProductModelFile.gif"
            extensions="product"
            class="de.dfki.iui.basys.model.domain.product.presentation.ProductEditor"
            contributorClass="de.dfki.iui.basys.model.domain.product.presentation.ProductActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.staff.presentation.StaffModelWizardID"
            name="%_UI_StaffModelWizard_label"
            class="de.dfki.iui.basys.model.domain.staff.presentation.StaffModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StaffModelFile.gif">
         <description>%_UI_StaffModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.staff.presentation.StaffEditorID"
            name="%_UI_StaffEditor_label"
            icon="icons/full/obj16/StaffModelFile.gif"
            extensions="staff"
            class="de.dfki.iui.basys.model.domain.staff.presentation.StaffEditor"
            contributorClass="de.dfki.iui.basys.model.domain.staff.presentation.StaffActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.topology.presentation.TopologyModelWizardID"
            name="%_UI_TopologyModelWizard_label"
            class="de.dfki.iui.basys.model.domain.topology.presentation.TopologyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TopologyModelFile.gif">
         <description>%_UI_TopologyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.topology.presentation.TopologyEditorID"
            name="%_UI_TopologyEditor_label"
            icon="icons/full/obj16/TopologyModelFile.gif"
            extensions="topology"
            class="de.dfki.iui.basys.model.domain.topology.presentation.TopologyEditor"
            contributorClass="de.dfki.iui.basys.model.domain.topology.presentation.TopologyActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.workerguidance.presentation.WorkerguidanceModelWizardID"
            name="%_UI_WorkerguidanceModelWizard_label"
            class="de.dfki.iui.basys.model.domain.workerguidance.presentation.WorkerguidanceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WorkerguidanceModelFile.gif">
         <description>%_UI_WorkerguidanceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.workerguidance.presentation.WorkerguidanceEditorID"
            name="%_UI_WorkerguidanceEditor_label"
            icon="icons/full/obj16/WorkerguidanceModelFile.gif"
            extensions="workerguidance"
            class="de.dfki.iui.basys.model.domain.workerguidance.presentation.WorkerguidanceEditor"
            contributorClass="de.dfki.iui.basys.model.domain.workerguidance.presentation.WorkerguidanceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.workplan.presentation.WorkplanModelWizardID"
            name="%_UI_WorkplanModelWizard_label"
            class="de.dfki.iui.basys.model.domain.workplan.presentation.WorkplanModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WorkplanModelFile.gif">
         <description>%_UI_WorkplanModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.workplan.presentation.WorkplanEditorID"
            name="%_UI_WorkplanEditor_label"
            icon="icons/full/obj16/WorkplanModelFile.gif"
            extensions="workplan"
            class="de.dfki.iui.basys.model.domain.workplan.presentation.WorkplanEditor"
            contributorClass="de.dfki.iui.basys.model.domain.workplan.presentation.WorkplanActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.linebalancing.presentation.LinebalancingModelWizardID"
            name="%_UI_LinebalancingModelWizard_label"
            class="de.dfki.iui.basys.model.domain.linebalancing.presentation.LinebalancingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LinebalancingModelFile.gif">
         <description>%_UI_LinebalancingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.linebalancing.presentation.LinebalancingEditorID"
            name="%_UI_LinebalancingEditor_label"
            icon="icons/full/obj16/LinebalancingModelFile.gif"
            extensions="linebalancing"
            class="de.dfki.iui.basys.model.domain.linebalancing.presentation.LinebalancingEditor"
            contributorClass="de.dfki.iui.basys.model.domain.linebalancing.presentation.LinebalancingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.capability.presentation.CapabilityModelWizardID"
            name="%_UI_CapabilityModelWizard_label"
            class="de.dfki.iui.basys.model.domain.capability.presentation.CapabilityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CapabilityModelFile.gif">
         <description>%_UI_CapabilityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.capability.presentation.CapabilityEditorID"
            name="%_UI_CapabilityEditor_label"
            icon="icons/full/obj16/CapabilityModelFile.gif"
            extensions="capability"
            class="de.dfki.iui.basys.model.domain.capability.presentation.CapabilityEditor"
            contributorClass="de.dfki.iui.basys.model.domain.capability.presentation.CapabilityActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.process.presentation.ProcessModelWizardID"
            name="%_UI_ProcessModelWizard_label"
            class="de.dfki.iui.basys.model.domain.process.presentation.ProcessModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProcessModelFile.gif">
         <description>%_UI_ProcessModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.process.presentation.ProcessEditorID"
            name="%_UI_ProcessEditor_label"
            icon="icons/full/obj16/ProcessModelFile.gif"
            extensions="process"
            class="de.dfki.iui.basys.model.domain.process.presentation.ProcessEditor"
            contributorClass="de.dfki.iui.basys.model.domain.process.presentation.ProcessActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.processinstance.presentation.ProcessinstanceModelWizardID"
            name="%_UI_ProcessinstanceModelWizard_label"
            class="de.dfki.iui.basys.model.domain.processinstance.presentation.ProcessinstanceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProcessinstanceModelFile.gif">
         <description>%_UI_ProcessinstanceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.processinstance.presentation.ProcessinstanceEditorID"
            name="%_UI_ProcessinstanceEditor_label"
            icon="icons/full/obj16/ProcessinstanceModelFile.gif"
            extensions="processinstance"
            class="de.dfki.iui.basys.model.domain.processinstance.presentation.ProcessinstanceEditor"
            contributorClass="de.dfki.iui.basys.model.domain.processinstance.presentation.ProcessinstanceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.productinstance.presentation.ProductinstanceModelWizardID"
            name="%_UI_ProductinstanceModelWizard_label"
            class="de.dfki.iui.basys.model.domain.productinstance.presentation.ProductinstanceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProductinstanceModelFile.gif">
         <description>%_UI_ProductinstanceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.productinstance.presentation.ProductinstanceEditorID"
            name="%_UI_ProductinstanceEditor_label"
            icon="icons/full/obj16/ProductinstanceModelFile.gif"
            extensions="productinstance"
            class="de.dfki.iui.basys.model.domain.productinstance.presentation.ProductinstanceEditor"
            contributorClass="de.dfki.iui.basys.model.domain.productinstance.presentation.ProductinstanceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.workforce.presentation.WorkforceModelWizardID"
            name="%_UI_WorkforceModelWizard_label"
            class="de.dfki.iui.basys.model.domain.workforce.presentation.WorkforceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WorkforceModelFile.gif">
         <description>%_UI_WorkforceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.workforce.presentation.WorkforceEditorID"
            name="%_UI_WorkforceEditor_label"
            icon="icons/full/obj16/WorkforceModelFile.gif"
            extensions="workforce"
            class="de.dfki.iui.basys.model.domain.workforce.presentation.WorkforceEditor"
            contributorClass="de.dfki.iui.basys.model.domain.workforce.presentation.WorkforceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.material.presentation.MaterialModelWizardID"
            name="%_UI_MaterialModelWizard_label"
            class="de.dfki.iui.basys.model.domain.material.presentation.MaterialModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MaterialModelFile.gif">
         <description>%_UI_MaterialModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="de.dfki.iui.basys.model.domain.material.presentation.MaterialEditorID"
            name="%_UI_MaterialEditor_label"
            icon="icons/full/obj16/MaterialModelFile.gif"
            extensions="material"
            class="de.dfki.iui.basys.model.domain.material.presentation.MaterialEditor"
            contributorClass="de.dfki.iui.basys.model.domain.material.presentation.MaterialActionBarContributor">
      </editor>
   </extension>

</plugin>
