<?xml version="1.0" encoding="UTF-8"?>
<service:ServiceDescription xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:service="http://www.dfki.de/iui/basys/model/service" name="ProductManager" id="_pJlocKqMEeeas-2CtWQtdA">
  <operations name="getProductGroups" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/product#//ProductGroup"/>
  </operations>
  <operations name="getProductGroup">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/product#//ProductGroup"/>
    <eParameters name="productGroupId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProductVariants" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/product#//ProductVariant"/>
    <eParameters name="productGroupId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProductVariant">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/product#//ProductVariant"/>
    <eParameters name="productVariantId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProductInstance">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/product#//ProductInstance"/>
    <eParameters name="productInstanceId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProductInstanceStatus">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/product#//ProductInstanceStatus"/>
    <eParameters name="productInstanceId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <publications name="status">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/product#//ProductInstanceStatus"/>
  </publications>
</service:ServiceDescription>
