<?xml version="1.0" encoding="UTF-8"?>
<service:ServiceDescription xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:service="http://www.dfki.de/iui/basys/model/service" name="ProductManager" id="_pJlocKqMEeeas-2CtWQtdA">
  <operations name="getStaffLocation">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/staff#//StaffLocation"/>
    <eParameters name="staffId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getStaffLocations" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/staff#//StaffLocation"/>
    <eParameters name="staffIds" upperBound="-1">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getStaffLocationsForComponent" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/staff#//StaffLocation"/>
    <eParameters name="componentId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <publications name="StaffLocationChangeEvent" topic="/staff/{staffId}/rawLocation/{componentId}/">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/staff#//StaffLocationChangeEvent"/>
  </publications>
</service:ServiceDescription>
