<?xml version="1.0" encoding="UTF-8"?>
<service:ServiceDescription xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:service="http://www.dfki.de/iui/basys/model/service" name="TopologyManager" id="_dp_YoKqMEeeas-2CtWQtdA">
  <operations name="getEnterprises" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Enterprise"/>
  </operations>
  <operations name="getEnterprise">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Enterprise"/>
    <eParameters name="enterpriseId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getSites" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="parentId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getSite">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="siteId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getAreas" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Area"/>
    <eParameters name="parentId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getArea">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Area"/>
    <eParameters name="areaId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProcessCells" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="parentId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProcessCell">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="processCellId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProductionUnits" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="parentId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProductionUnit">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="productionUnitId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProductionLines" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="parentId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getProductionLine">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="productionLineId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getStorageZone" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="parentId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getStorageZone">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="storageZoneId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getWorkCells" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="parentId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getWorkCell">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Site"/>
    <eParameters name="workCellId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getStations" upperBound="-1">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Station"/>
    <eParameters name="parentId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
  <operations name="getStation">
    <eType xsi:type="ecore:EClass" href="http://www.dfki.de/iui/basys/model/topology#//Station"/>
    <eParameters name="stationId">
      <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
    </eParameters>
  </operations>
</service:ServiceDescription>
