<?xml version="1.0" encoding="UTF-8"?>
<service:ServiceDescription xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:service="http://www.dfki.de/iui/basys/model/service" name="de.bosch.module.sam.fb.Feeder" id="_6_m7QJxIEeegV4RPdGHwww" version="1.0.0">
  <operations name="trigger">
    <eAnnotations source="BaSys">
      <details key="info" value="children"/>
    </eAnnotations>
  </operations>
  <publications name="readyToBeTriggered">
    <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EBoolean"/>
  </publications>
  <publications name="productAvailableForDelivery">
    <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EBoolean"/>
  </publications>
  <properties name="readyToBeTriggered">
    <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EBoolean"/>
  </properties>
  <properties name="productAvailableForDelivery">
    <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EBoolean"/>
  </properties>
  <properties name="providedDiskSize">
    <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EInt"/>
  </properties>
  <properties name="positionPort">
    <eType xsi:type="ecore:EDataType" href="http://www.eclipse.org/emf/2002/Ecore#//EString"/>
  </properties>
</service:ServiceDescription>
