<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated basys -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.base.presentation.BaseModelWizardID"
            name="%_UI_BaseModelWizard_label"
            class="de.dfki.iui.basys.model.base.presentation.BaseModelWizard"
            category="de.dfki.iui.basys.workbench.wizard.category.ID"
            icon="icons/full/obj16/BaseModelFile.gif">
         <description>%_UI_BaseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated basys -->
      <editor
            id="de.dfki.iui.basys.model.base.presentation.BaseEditorID"
            name="%_UI_BaseEditor_label"
            icon="icons/full/obj16/BaseModelFile.gif"
            extensions="base"
            class="de.dfki.iui.basys.model.base.presentation.BaseEditor"
            contributorClass="de.dfki.iui.basys.model.base.presentation.BaseActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated basys -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.domain.presentation.DomainModelWizardID"
            name="%_UI_DomainModelWizard_label"
            class="de.dfki.iui.basys.model.domain.presentation.DomainModelWizard"
            category="de.dfki.iui.basys.workbench.wizard.category.ID"
            icon="icons/full/obj16/DomainModelFile.gif">
         <description>%_UI_DomainModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated basys -->
      <editor
            id="de.dfki.iui.basys.model.domain.presentation.DomainEditorID"
            name="%_UI_DomainEditor_label"
            icon="icons/full/obj16/DomainModelFile.gif"
            extensions="domain"
            class="de.dfki.iui.basys.model.domain.presentation.DomainEditor"
            contributorClass="de.dfki.iui.basys.model.domain.presentation.DomainActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated basys -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.dfki.iui.basys.model.physical.presentation.PhysicalModelWizardID"
            name="%_UI_PhysicalModelWizard_label"
            class="de.dfki.iui.basys.model.physical.presentation.PhysicalModelWizard"
            category="de.dfki.iui.basys.workbench.wizard.category.ID"
            icon="icons/full/obj16/PhysicalModelFile.gif">
         <description>%_UI_PhysicalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated basys -->
      <editor
            id="de.dfki.iui.basys.model.physical.presentation.PhysicalEditorID"
            name="%_UI_PhysicalEditor_label"
            icon="icons/full/obj16/PhysicalModelFile.gif"
            extensions="physical"
            class="de.dfki.iui.basys.model.physical.presentation.PhysicalEditor"
            contributorClass="de.dfki.iui.basys.model.physical.presentation.PhysicalActionBarContributor">
      </editor>
   </extension>

</plugin>
