<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aas -->
      <package
            uri="http://www.dfki.de/iui/basys/aas"
            class="de.dfki.iui.basys.model.aas.AasPackage"
            genModel="model/aas.genmodel"/>
   </extension>

</plugin>
