<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated base -->
      <package
            uri="http://www.dfki.de/iui/basys/model/base"
            class="de.dfki.iui.basys.model.base.BasePackage"
            genModel="model/base.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated base -->
      <package
            uri="http://www.dfki.de/iui/basys/model/pattern"
            class="de.dfki.iui.basys.model.pattern.PatternPackage"
            genModel="model/base.genmodel"/>
   </extension>

</plugin>
