<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated runtime -->
      <package
            uri="http://www.dfki.de/iui/basys/model/communication"
            class="de.dfki.iui.basys.model.runtime.communication.CommunicationPackage"
            genModel="model/runtime.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated runtime -->
      <parser
            type="communication"
            class="de.dfki.iui.basys.model.runtime.communication.util.CommunicationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated runtime -->
      <package
            uri="http://www.dfki.de/iui/basys/model/runtime/service"
            class="de.dfki.iui.basys.model.runtime.service.ServicePackage"
            genModel="model/runtime.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated runtime -->
      <parser
            type="service"
            class="de.dfki.iui.basys.model.runtime.service.util.ServiceResourceFactoryImpl"/>
   </extension>

</plugin>
